body {
  background-color: white;
  margin-left: 150px;
  margin-right: 50px;
  width: 1000px;
  align-items: center;
  position: absolute;
}
#element-1 {
  z-index:1;
  margin: 0;
  position:relative;
}

