body {
  background-color: white;
  margin-left: 150px;
  margin-right: 50px;
  width: 1000px;
  align-items: center;
  position: absolute;
}
#element-1 {
  z-index:1;
  margin: 0;
  position:relative;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: blue;
  text-align: right;
  font-weight: lighter;
  margin-top: 2%;
}
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 150px;
  font-style: italic;
  font-weight: lighter;
  text-align: left;
  line-height: 65%;
  margin-top: 10%;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 150px;
  font-weight: bold;
  text-align: left;
  line-height: 65%;
  margin-top: 0;
}
h3-second-child {
  font-family: 'Roboto', sans-serif;
  font-size: 150px;
  font-weight: bold;
  text-align: left;
  line-height: 50%;
  margin-top: 0;

}
h3-third-child {
  font-family: 'Roboto', sans-serif;
  font-size: 150px;
  font-weight: bold;
  text-align: left;
  line-height: 50%;
  margin-top: 0;
}
h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
  line-height: 65%;
  margin-top: 0;
}
h5 {
  color: gray;
  margin-top: 2%;
  margin-bottom: 10%;
  font-family: 'Roboto', sans-serif;
  font-size: 350px;
  text-align: left;
  font-weight: bold;
  font-stretch: condensed;
  position: relative;
  width: 400px;
  height: 200px;
  z-index: -5;
}

p-first-child {
    margin-top: 167px;
    margin-left: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: left;
    font-weight: bold;
    position:absolute;
    font-stretch: condensed;
    color: red;
    top: -244px;
    right: 637px;
    left: -90px;
    width: 500px;
    height: 80px;
}

h6 {
  margin-top: 2%;
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  text-align: left;
  font-weight: bold;
  font-stretch: condensed;
  color: orange;
}
p-second-child {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  text-align: right;
  line-height: 70%;
  margin-top: 0;
  margin-bottom: 5%;
  top: 795px;
  right: 0px;
  left: 143px;
  width: 648px;
  height: 0px;
  position:absolute;
  z-index: 2;

}
p-third-child {
  margin-top: 1551px;
  margin-left: 150px;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  text-align: left;
  font-weight: bold;
  position:absolute;
  font-stretch: condensed;
  color: orange;
  top: -244px;
  right: 496px;
  left: -78px;
  width: 703px;
  height: 175px;
}
